body{
    font-family: 'Roboto', sans-serif;
}
:root{
    --background-color: rgb(49, 49, 49);
    --text-color: #eee;
    --border-radius: 30px;
}

.card{
    width:min(370px, 100%);
    color: var(--text-color);
    position: relative;
}